@model Lab1_MVC_PorllesC.Models.ClsSuma
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CalcularSuma</title>
</head>
<body>
    <h1><b>Suma de 2 Numeros</b></h1>
    <div>
        <label>El valor de A: </label> @Model.a <br />
        <label>El valor de B: </label> @Model.b <br /><br />
        <label>El valor de Resultado: </label> @Model.resultado<br />


    </div>  
</body>
</html>
