
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MostrarSuma</title>
</head>
<body>
    <div> 
        <form name="frmSuma" action="CalcularSuma" method="post">
            <label>Ingrese A:</label><input type="text" name="valor1" /><br />
            <label>Ingrese B:</label><input type="text" name="valor2" /><br />
            <input type="submit" value="Calcular" />
        </form>
    </div>
</body>
</html>
